{% extends 'base.html' %}
{% block body_block %}
    <title>Restaurant Reviews</title>
<style>


h1{
    color: green;
    text-align: center;
}
h2{
    color: blue;
}
p{
    font-family: Arial;
}
</style>

<div class="container">
<div class="jumbotron">
<h1>This is about the restaurant reviews!!</h1><br><br>
<p>

    In the era of the web, a huge amount of information is now flowing over the network. Since the range of web content covers
    subjective opinion as well as objective information, it is now common for people to gather information about products and
    services that they want to buy. However since a considerable amount of information exists as text-fragments without having
    any kind of numerical scales, it is hard to classify their evaluation efficiently without reading full text. Here we will
    focus on extracting scored ratings from text fragments on the web and suggests various experiments in order to improve the
    quality of a classifier.


</p>
</div>
</div>
{% endblock %}